
p, h1, h2, h3, h4, h5, h6, small {
  max-width: 48em;
}

ul, ol {
  /* account for the 1em -webkit-margin-start for the list icon */
  max-width: 45em;
}

ul,ol,dl, p {
  line-height: 1.4;
}

body {
  margin-top: 1em;
  margin-bottom: 1em;
}

main, aside {
  margin-bottom: .5em;
  padding-bottom: .5em;
  max-width: 50em;
  padding-right: 1em;
}

/* from foundation css */
.no-bullet {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.inline-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0.94444rem;
  margin-left: -1.22222rem;
  margin-right: 0;
  overflow: hidden;
  padding: 0;

  > li {
    display: block;
    float: left;
    list-style: none;
    margin-left: 1.22222rem;

    > * {
      display: block;
    }
  }
}

pre {
  padding: 1em;
  background-color: var(--bg2-color);
  border-left: solid var(--fg-color);
}
