@import "_normalize.scss";
@import "_thk-standard.scss";

/* https://medium.com/js-dojo/how-to-enable-dark-mode-on-your-website-with-pure-css-32640335474 */
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #ffffff;
    --bg2-color: #f6f8fa;
    --fg-color: #121212;
    --link-color: rgb(0, 0, 238);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #121212;
    --bg2-color: #333333;
    --fg-color: #ffffff;
    --link-color: rgb(73, 192, 248);
  }
}

a {
  color: var(--link-color);
}

/* site style */
nav a,
header a {
  text-decoration: none;
  color: var(--fg-color);
  font-size: 18px;
  font-weight: bold;
}

main {
  border-top: dashed 1px var(--fg-color);
  border-bottom: dashed 1px var(--fg-color);
  width: 50em;
}

body {
    background: var(--bg-color);
    color: var(--fg-color);
  margin-left: auto;
  margin-right: auto;
  max-width: 70em;
  max-width: fit-content;
}

.figure {
  max-width: 50em;
}

.figure img {
  max-width: 100%;
}

.figure .caption {
  padding: .5em;
  border-left: dashed 1px var(--fg-color);
  margin: 0;
}


@media (min-width:100em) {
  .flex-right-aside {
    display: flex;
    flex-direction: row;
  }

  .mainaside {
    border-left: dashed 1px var(--fg-color);
    max-width: 10em;
    padding-left: 1em;
  }
}

@media (max-width:100em) {
  .mainaside {
    border-bottom: dashed 1px var(--fg-color);
  }
}
