img {
   behavior: url("../index.htc_/plugin/pngbehavior.htc?/plugin/pngbehavior.htc");
}
/* templates/default/style_fallback.css  */
/* This is the templates/default/style_fallback.css file.
   It emits CSS rules that all templates should have.
   Classes are declared on top of the file, so if you
   want to make changes in your own template, you
   should override the rules on the bottom of your
   style.css template. 
   IT IS NOT ADVISED TO CREATE YOUR OWN style_fallback.css FILE! */

/* Default image classes for left/right/usual layout */
.serendipity_image_center {
  border: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.serendipity_image_left {
  float: left;
  border: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.serendipity_image_right {
  float: right;
  border: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Default listing without spacers */
.plainList {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

/* Messages: Centered, important, notice */
.serendipity_center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.serendipity_msg_important {
    color: red;
}

.serendipity_msg_notice {
    color: green;
}

/* Embedded images with comments inside the s9y image manager */
.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    border: 1px solid #ddd;
    background-color: #efefef;
    margin: 3px;
    padding: 3px;
    text-align: center;
}

.serendipity_imageComment_center {
    margin: auto;
}

.serendipity_imageComment_left {
    float: left;
}

.serendipity_imageComment_right {
    float: right;
}

.serendipity_imageComment_img,
.serendipity_imageComment_img img {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.serendipity_imageComment_txt {
    border-top: 1px solid #ddd;
    margin: 0px;
    padding: 3px;
    clear: both;
    font-size: 8pt;
    text-align: center;
}

/* END OF style_fallback.css *//* templates/carl_contest/admin/style.css  */
body {
	font-size: 9.5pt;
	margin: 0;
	padding:0;
	font-size: 10px;
	font-family: "trebuchet ms", "bitstream vera sans", arial, sans-serif;
	background-color: #f1f6fb;
	direction: ltr; }

#serendipity_admin_page {
	text-align: center; }

h3, h2 {
 }

#serendipityAdminBodyImageSelector {
	background: #FFF; }

#serendipityAdminFrame {
	text-align: left;
	width: 90%;
	margin: auto;
	background: #FFF;
	border-top: 0;
	border-right:1px solid #235587;
	border-left:1px solid #235587;
	border-bottom:1px solid #235587; }

#serendipityAdminBanner {
     margin: auto;
     width: 100%;
     height: 72px;
     background-image: url(../templates/carl_contest/admin/img/background.png); }

#serendipityAdminInfopane {
	background: #F8F9FA url(../templates/carl_contest/admin/img/infobar_background.png);
	font-size: 10px;
	padding: 5px;
	vertical-align: middle;
	text-align: right;
	color: #5E5E5E;
	height: 27px; }

#serendipityAdminMainpane {
	background: #FFF; }

.serendipityAdminContent {
	font-size: 9.5pt;
	padding: 10px 30px 20px 30px;
	width:100%; }

#serendipityAdminBanner h1 {
	color: #333;
	font-size : 20px;
	padding-left:15px;
	padding-top: 10px;
	margin: 0px;
	text-decoration: none; }

#serendipityAdminBanner h2 {
	color: #fff;
	font-size: 14px;
	margin: 0px;
	text-decoration: none;
	text-transform:none;
	text-align:left;
	line-height:0.85em;
	border:none;
	padding: 0 0 0 15px; }


#serendipitySideBar {
	width: 170px;
	padding-top: 10px; }

#serendipityAdminFooter {
	padding:0;
	margin:0; }

.serendipitySideBarTitle {
	padding-left: 2px;
	font-weight: bold;
	font-size: 0.9em; }

.serendipitySideBarContent {
	padding-left: 10px;
	font-size: 0.8em; }

.serendipitySideBarItem {
	margin-bottom: 10px; }

.serendipity_admin_title {
	font-size: 2em;
	margin-bottom: 5px; }

.serendipity_admin_list_item.serendipity_admin_list_item_uneven {
	border: 1px solid #294366;
	background: #F8F9FA;
	margin-bottom: 5px; }

.serendipity_admin_list_item.serendipity_admin_list_item_even {
	border: 1px solid #294366;
	background: #F2F3F2;
	margin: 0 0 5px 0; }

.serendipityAdminMsgError {
	color: #F00;
	text-align: center;
	font-weight: bold;
	margin: 10px; }

.serendipityAdminMsgSuccess {
	color: #0B0;
	text-align: center;
	font-weight: bold;
	margin: 10px; }

.serendipityAdminMsgNote {
	background: #FFFF9D;
	border: 1px solid #F70;
	padding: 3px;
	text-align: center;
	margin: 10px; }

td, th {
	font-size: 0.8em; }

a:link, a:visited, a:active {
     color: #235587;
     text-decoration: none; }

a:hover {
     color: #5f90ba;
     text-decoration: underline; }

input, select, textarea {
	background: #F8F9FA;
	font-family: Verdana;
	font-size: 0.9em;
	border: 1px solid #294366; }

#serendipity_iframe {
	border: 1px solid #294366;
	text-align: center;
	margin: auto; }

ul.serendipitySideBarMenu {
	padding: 0;
	margin: 0; }

ul.serendipitySideBarMenu {
	font-size: 0.85em;
	list-style: none;
	width:170px;
	font-weight: bold;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 3px; }

.serendipitySideBarMenuHead {
	line-height:0.85em;
	color: #999;
	margin:10px 0 4px 0;
	text-transform:lowercase;
	font-size:0.9em;
	border-bottom: 1px solid #ddd;
	padding: 10px 0 0 10px; }

ul.serendipitySideBarMenu li {
	line-height:1.1em;
	font-size: 1.0em;
	font-weight: normal;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 5px;
	list-style:none;
	margin:0; }

ul.serendipitySideBarMenu a {
	text-decoration: none;
	font-weight: bold; }

ul.serendipitySideBarMenu a:hover {
	text-decoration: underline; }

.serendipityImageButton {
	cursor: pointer; }

a:link.serendipityIconLink,
a:visited.serendipityIconLink {
	border: 0;
	font-weight: bold;
	text-decoration: none;
	margin-right: 4px; }

.serendipityIconLink a:hover {
	color: #e37235; }

.serendipityIconLink img {
	margin-right: 2px;
	vertical-align: bottom;
	border: 0; }

a:link.serendipityIconLinkRight,
a:visited.serendipityIconLinkRight {
	border: 0;
	font-weight: bold;
	text-decoration: none;
	margin-left: 4px; }

.serendipityIconLinkRight img {
	margin-left: 2px;
	vertical-align: bottom;
	border: 0; }

a:link.serendipityPrettyButton,
a:visited.serendipityPrettyButton,
a:hover.serendipityPrettyButton {
	text-decoration: none;
	color: #1D2E3F; }

.serendipityPrettyButton {
	padding: 1px;
	background: url(../templates/carl_contest/admin/img/button_background.png) repeat-x top;
	background-color: #95accc;
	color: #1D2E3F;
	height: 20px;
	font-weight: bold;
	font-size: 0.9em;
	border: 1px outset #000;
	margin: 2px; }

/* Special class if the button is a <a> tag */
a.serendipityPrettyButton {
	padding: 2px 4px 2px 4px;
	cursor: default; }

.direction_ltr {
	direction: ltr; }

.direction_rtl {
	direction: rtl; }

.serendipity_pluginlist_header {
	height: 30px;
	background-color: white;
	color: black;
	vertical-align: middle;
	padding: 10px 0px 5px 10px; }

.serendipity_pluginlist_section {
	margin:20px 0 20px 0;
	padding:10px;
	border:1px solid #c0c0c0;
	background-color:#fafbfc;
	color:#505050;
	line-height:1.5em; }

table#serendipity_customfields {
	width: 100%; }

table#serendipity_customfields .customfield_name {
	background-color: #FAFAFA;
	width: 25%;
	padding-left: 5px; }

table#serendipity_customfields .customfield_value {
	background-color: #FFFFFF;
	width: 75%; }

table#serendipity_customfields .customfield_value textarea {
	width: 100%;
	height: 100px; }


.serendipityAdminContent .further_links {
    float: right;
    font-size: 0.8em;
    border: 1px solid black;
}

.further_links p {
    text-align: center;
    font-weight: bold;
}

.further_links ul {
    padding: 0px;
    list-style-type: none;
}

.further_links li {
    margin: 5px;
    padding: 0px;
}

#serendipityAdminBodyImageSelectorTree .serendipityAdminContent {
    width: auto;
}

#serendipityAdminBodyImageSelector .serendipityAdminContent {
    width: auto;
    margin: 0px;
}
