.bb-quote, .bb-code, .bb-php, .bb-code-title, .bb-php-title {
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    direction: ltr;
}

.bb-code-title, .bb-php-title {
    margin-bottom: 2px;
    background-color:#CCCCCC;
    font-weight: bold;
    padding-left: 5px;
}

.bb-code, .bb-php {
    font-family: courier, "courier new";
    background-color: #DDDDDD;
    padding: 10px;
    white-space: pre;
    overflow: auto;
    max-height: 24em;
}

.bb-quote {
    background-color: #DDDDDD;
    padding: 10px;
}

.bb-list-ordered-d {
    list-style-type: decimal;
}
.bb-list-ordered-la {
    list-style-type: lower-alpha;
}
.bb-list-ordered-ua {
    list-style-type: upper-alpha;
}

p.whiteline {
    margin-top: 0em;
    margin-bottom: 1em;
}

p.break {
    margin-top: 0em;
    margin-bottom: 0em;
}

img {
   behavior: url("../index.htc_/plugin/pngbehavior.htc?/plugin/pngbehavior.htc");
}
/* templates/default/style_fallback.css  */
/* This is the templates/default/style_fallback.css file.
   It emits CSS rules that all templates should have.
   Classes are declared on top of the file, so if you
   want to make changes in your own template, you
   should override the rules on the bottom of your
   style.css template. 
   IT IS NOT ADVISED TO CREATE YOUR OWN style_fallback.css FILE! */

/* Default image classes for left/right/usual layout */
.serendipity_image_center {
  border: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.serendipity_image_left {
  float: left;
  border: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.serendipity_image_right {
  float: right;
  border: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Default listing without spacers */
.plainList {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

/* Messages: Centered, important, notice */
.serendipity_center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.serendipity_msg_important {
    color: red;
}

.serendipity_msg_notice {
    color: green;
}

/* Embedded images with comments inside the s9y image manager */
.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    border: 1px solid #ddd;
    background-color: #efefef;
    margin: 3px;
    padding: 3px;
    text-align: center;
}

.serendipity_imageComment_center {
    margin: auto;
}

.serendipity_imageComment_left {
    float: left;
}

.serendipity_imageComment_right {
    float: right;
}

.serendipity_imageComment_img,
.serendipity_imageComment_img img {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.serendipity_imageComment_txt {
    border-top: 1px solid #ddd;
    margin: 0px;
    padding: 3px;
    clear: both;
    font-size: 8pt;
    text-align: center;
}

/* END OF style_fallback.css *//* templates/carl_contest/style.css  */
/******************************************************/
/* Theme by Carl Galloway                             */
/* http://www.carlgalloway.com                        */
/* This is a structured and commented version         */
/* of the serendipity blog default theme.             */
/*                                                    */
/* Styles have been organised into the following      */
/* groups; general, header, footer, entry, comments   */
/* commentform, sidebar, calendar, image media, and   */
/* plugins.                                           */
/*                                                    */
/* My comments are inside the /*  */, these can       */
/* safely be deleted if you do not require them.      */
/******************************************************/




/********* General Styles  *********/

 /* used in entry/sidebar titles */
h4, h3	{
	margin: 0; }

/* the input boxes used in forms */
input, textarea, select {
	font-size: 10pt; }

/* all table headers and rows */
th, td {
	font-size: 10pt; }

/* style for lists */
li {
	list-style-position: inside; }

/* style for blockquotes inserted into posts */
blockquote {
	margin: 15px 30px 0 15px;
	padding-left: 15px;
	border-left: 4px solid #2a5a8a; }

/* all links are blue with no underline */
a:link, a:visited, a:active {
	color: #235587;
	text-decoration: none; }

/* change link color to dark blue and underline when hovered over */
a:hover {
	color: #5f90ba;
	text-decoration: underline; }

/* used when s9y needs to center something */
.serendipity_center {
	margin-left: auto;
	margin-right: auto;
	text-align: center; }

/* warning messages from s9y */
.serendipity_msg_important {
	color: red; }

/* messages letting you know something has happened eg comment saved */
.serendipity_msg_notice {
	color: green; }

/* style to temporarily change something to grey */
.grey {
	color:#999; }

/********* End of General Styles *********/




/********* Structural Styles *********/

/* preset styles for entire blog unless overruled elsewhere, page footer is here as well */
body {
	direction: ltr;
	font-size: 0.9em;
	background-color: #f1f6fb;
	margin: 0;
	padding:0;
	font-family: "trebuchet ms", "bitstream vera sans", arial, sans-serif; }

/* wrapper for page */
#wrap {
	width:90%;
	margin:0 auto; }

/* container for banner */
#serendipity_banner {
	margin: auto;
	width: 100%;
	height: 72px;
	background-image: url(../templates/carl_contest/img/background.png); }

/* container for content and sidebar */
#mainpane {
	border-right:1px solid #235587;
	border-left:1px solid #235587;
	border-bottom:1px solid #235587;
	margin: 0 auto;
	width: 100%;
	border-top: 0px;
	background-color: #FFFFFF; }

/* container for entries column */
#content {
	padding: 0 10px 10px 10px;
	margin: 0 10px 10px 10px;
	width: auto; }

/* container for right sidebar */
#serendipityRightSideBar {
	width: 170px;
	padding: 0 0 0 10px;
	margin:0;
	vertical-align: top; }

/* container for left sidebar */
#serendipityLeftSideBar {
	width: 170px;
	padding:0 10px 0 1px;
	margin:0;
	vertical-align: top; }

/* container for page footer */
#footer {
	padding:0;
	margin:0;
	background-color: #ecf3fd; }

/********* End of Structural Styles *********/




/********* Header/Banner Styles *********/

/* the big link in the banner, blog name/entry title */
a.homelink1, a.homelink1:hover, a.homelink1:link, a.homelink1:visited, #serendipity_banner h1 {
	color: #fff;
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size : 20px;
	padding-left:15px;
	padding-top: 20px;
	margin: 0px;
	text-decoration: none; }

/* the smaller link in the banner, blog description */
a.homelink2, a.homelink2:hover, a.homelink2:link, a.homelink2:visited, #serendipity_banner h2 {
	color: #fff;
	padding-left: 15px;
	font-size: 14px;
	margin: 0px;
	text-decoration: none; }

/********* End of Header/Banner Styles *********/




/********* Footer Styles *********/

/* footer paragraph text */
#footer p {
	color:#666;
	text-transform:lowercase;
	font-size: 9pt;
	font-weight:bold;
	line-height: 1.5; }

/* make footer links blue, no underline */
#footer a {
	color:#215385;
	text-decoration:none; }

/* underline footer links when hovered over */
#footer a:hover {
	text-decoration:underline; }

/********* End of Footer Styles *********/





/********* Entry Styles *********/

/* container for the entry/post */
.serendipity_entry {
	font-family: arial, helvetica, sans-serif;
	color: #333;
	font-size: 9.5pt;
	font-weight: normal;
	margin: 10px 0 40px 0; }

/* container for entry title and date */
.serendipity_Entry_Date {
	clear:both; }

/* style for the actual date below entry title */
.serendipity_date {
	text-align:right;
	line-height:0.85em;
	color: #999;
	margin:10px 0 0 0;
	text-transform:lowercase;
	display:block;
	font-size:.9em;
	border-bottom: 1px solid #ddd;
	padding: 10px 12px 0 0; }

/* entry title */
.serendipity_title {
	font-size: medium;
	font-weight: bold;
	margin-top: 5px;
	color: #235587; }

/* style for the meta box title */
.serendipity_meta_title {
	font-size: small;
	font-weight: bold;
	margin: 0; padding:0;
	color: #235587; }

/* entry title link, regular color is black */
.serendipity_title a:link, .serendipity_title a:visited {
	text-decoration: none;
	font-weight: bold;
	border: 0;
	background:none;
	color: #235587; }

/*entry title link when hovered over, changes to orange */
.serendipity_title a:hover {
	color: #e37235; }

/* additional styles used for entry text */
.serendipity_entry p {
	margin-top: 0px;
	padding-bottom: 0px; }

/* style for extended body */
.serendipity_entry_extended {
	margin-top:20px; }

/* prevent styling of the extended placeholder, otherwise the background image is visible */
#extended {
	background:none;
	display:none; }

/* the meta box that includes links to comments, trackbacks etc */
div.serendipity_entryFooter {
	margin: 0 0 10px 10px;
	width:170px;
	float:right;
	border:1px solid #ddecfb;
	background-color:#f6f8fb;
	font-size: 0.8em;
	color: #000000;
	padding-bottom: 4px; }

/* style for links within the page footer */
div.serendipity_entryFooter a {
	font-weight:bolder; }

/* style for hovered over links within page footer */
div.serendipity_entryFooter a:hover {
	color: #e37235;
	text-decoration:none; }

/* styles for category icon if used */
img.serendipity_entryIcon {
	float: right;
	border: 0px;
	margin-top:1px; }

/* styling the continue reading byline, needed to stop firefox making the link 100% wide */
.continue_reading {
	display:block;
	margin-top:10px;
	clear:left; }

/* styling the continue reading byline link */
.continue_reading a {
	font-weight:normal;
	background:none; }

/* styling the continue reading byline when hovered over */
.continue_reading a:hover {
	color: #5f90ba;
	background:none;
	text-decoration: underline; }

/* not used, but allows additional style to show author's posts in multi-author blogs */
.serendipity_entry_author_self {
	}

/* styles for the next/previous links above footer, includes start page and archives links */
.serendipity_pageFooter {
	clear:both;
	margin-top:10px; }

/* container for summary listings in archives */
.archive_summary {
	clear:both;
	margin:15px 0 0 10px;
	font-size:0.9em;}

/* style for entry title in summary archives overview */
.archive_summary_title {
	font-size: 1.0em;
	font-weight: bold;
	margin: 0; padding:0; }

/********* End of Entry Styles *********/




/********* Comment Styles *********/

/* container for all comments, not styled separately in default theme */
.serendipity_comments {
	}

/* comments, trackbacks and commentform titles */
.serendipity_commentsTitle {
	font-size: medium;
	font-weight: bold;
	margin-top: 10px;
	color: #336d9f;
	clear:left; }

/* container for individual comments */
.serendipity_comment {
	padding: 3px; }

/* style for comment author, date commented etc */
.serendipity_comment_source {
	margin-top: 5px;
	padding-left: 5px;
	margin-bottom: 5px;
	padding-bottom: 3px; }

/* style for comment author if logged in */
.serendipity_comment_author_self {
	border-top:3px solid #e37235;
	border-bottom:3px solid #e37235; }

/* style for even numbered comments*/
.comment_evenbox {
	margin:0 0 20px 0;
	border-top:1px solid #5f90ba;
	border-bottom:1px solid #5f90ba;
	background-color:#fafbfc;
	color:#505050;
	line-height:1.5em; }

/* style for odd numbered comments*/
.comment_oddbox {
	margin:0 0 20px 0;
	border-top:1px solid #c0c0c0;
	border-bottom:1px solid #c0c0c0;
	background-color:#fafbfc;
	color:#505050;
	line-height:1.5em; }

/********* End of Comment Styles *********/



/********* Comment Form *********/

/* container style for entire comment form */
.serendipity_commentForm {
	font-size: 13px;
	color: #404040;
	margin-bottom: 13px;
	margin-right: 10px;
	margin-left: 10px;
	background-color: #FFFFFF; }

/* style for name, email etc fields in comments form */
td.serendipity_commentsLabel {
	font-size: 12px;
	font-weight: bold;
	vertical-align: top; }

/* styles for input boxes in comments form */
td.serendipity_commentsValue input, td.serendipity_commentsValue select, td.serendipity_commentsValue textarea {
	font-size: 12px;
	padding: 2px; }

/********* End of Comment Form *********/




/********* Sidebar Styles *********/

/* container style for individual sidebar blocks */
div.serendipitySideBarContent {
	padding-bottom: 12px;
	margin-bottom: 12px;
	font-size: 12px;
	font-weight:normal; }

/* style for each sidebar title */
.serendipitySideBarTitle {
	line-height:0.85em;
	color: #999;
	margin:10px 0 4px 0;
	text-transform:lowercase;
	display:block;
	font-size:.9em;
	border-bottom: 1px solid #ddd;
	padding: 10px 0 0 12px; }

/* style for the powered by sidebar entry */
div.serendipityPlug img {
	padding-left:5px; }

/* style for the powered by link */
div.serendipityPlug a {
	text-decoration: none;
	border: 0px; }

/* style for input and select drop downs in sidebar */
.serendipitySideBarContent input, .serendipitySideBarContent select {
	width:150px; }

/* style for side bar date eg recent entries plugin */
.serendipitySideBarDate {
	line-height:0.9em; }

/********* End of Sidebar Styles *********/




/********* Calendar Styles *********/

/* style for entire table in calendar plugin */
table.serendipity_calendar {
	border-bottom:1px solid #ddecfb;
	border-left:1px solid #ddecfb;
	border-right:1px solid #ddecfb; }

/* container style for calendar table rows */
table.serendipity_calendar td {
	text-align:center;
	padding: 3px; }

/* style for calendar date links */
table.serendipity_calendar a {
	font-weight: bold;
	text-decoration:none; }

/* style for calendar links when hovered over */
table.serendipity_calendar a:hover {
	text-decoration: underline; }

/* style for calender header row */
.serendipity_calendarHeader {background:#235587; }

/* styles for month name and arrows in calendar */
td.serendipity_calendarHeader a:link, td.serendipity_calendarHeader a:visited, td.serendipity_calendarHeader a:hover {
	border: 0;
	color:#fff;
	text-decoration: none; }

/* style for calendar weekday names */
td.serendipity_weekDayName {
     	font-size:95%!important;
	font-size:90%;
	font-weight:575;
	color:#fff;
	background:#5f90ba; }

/* style for calendar day rows */
td.serendipity_calendarDay {
	color:#888;
	font-size:90%; }

/* separate style for today's date */
td.Today {color: #444; text-decoration: overline; }

/* styles for calendar days rows */
.row1 {background: #ddecfb; }
.row2 {background: #e2eefb; }
.row3 {background: #e7f1fb; }
.row4 {background: #ecf3fb; }
.row5 {background: #f1f6fb; }
.row6 {background: #f6f8fb; }

/********* End of Calendar Styles *********/





/********* Embedded images with the s9y image manager *********/

/* container for images and text */
.serendipity_imageComment_center, .serendipity_imageComment_left, .serendipity_imageComment_right {
	border: 1px solid #DDDDDD;
	background-color: #EFEFEF;
	margin: 3px;
	padding: 3px;
	text-align: center; }

/* style to center image and text within entry */
.serendipity_imageComment_center {
	margin: auto; }

/* style to left align image and text within entry */
.serendipity_imageComment_left {
	float: left; }

/* style to right align image and text within entry */
.serendipity_imageComment_right {
	float: right; }

/* styles for the images */
.serendipity_imageComment_img, .serendipity_imageComment_img img {
	margin: 0px;
	padding: 0px;
	border:none;
	text-align: center; }

/* styles for the text below the image if used */
.serendipity_imageComment_txt {
	border-top: 1px solid #DDDDDD;
	margin: 0px;
	padding: 3px;
	clear: both;
	font-size: 8pt;
	text-align: center; }

/********* End of Media Manager Styles *********/





/********* Plugin Styles *********/

/* container for search results, static page navigation and s9y no entries message */
.serendipity_search, .staticpage_navigation, .serendipity_overview_noentries {
	margin:10px 0 20px 0;
	padding:10px;
	border:1px solid #c0c0c0;
	background-color:#fafbfc;
	color:#505050;
	line-height:1.5em;
	clear:both; }

/* style for input box for quicksearch */
#serendipityQuickSearchTermField {
	width:70%;
	margin-top:10px!important;
	margin:0;
	padding:0; }

/* style for the seearch term and number of results using quicksearch */
.searchterm, .searchresults {color:#235587;font-weight:bold; }

/* style for freetag items above entries */
.serendipity_freetag_taglist {
	margin:10px 0 20px 0;
	padding:15px;
	font-size: 80%;
	color:#505050;
	border: 1px solid #c0c0c0;
	background-color: #fafbfc;
	line-height:1.5em;
	text-align: justify; }

/* container for freetag plugin in entry footer */
.serendipity_freeTag {
	margin-top:10px;}

/* style for the rss feed image in freetag plugin */
img.serendipity_freeTag_xmlButton {
	border:none;
	padding-left:2px; }

/* container for karma vote plugin */
.serendipity_karmaVoting {
	margin-top: 10px; }

/* allows additional styling for top exits text in karma plugin */
.serendipity_karmaVoting_exits {
	}

/* style for number of top exits in karma plugin */
.serendipity_karmaVoting_exits_num {
	}

/* style for karma plugin 'Karma for this article:' and vote links */
.serendipity_karmaVoting_text {}

/* style for vote links in karma plugin */
.serendipity_karmaVoting_links {
	display:block;
	clear:left; }

/* style for karma plugin text and vote line */
.serendipity_karmaVoting_current, .serendipity_karmaVoting_visits {}

/* style for the separator '|' in the karma plugin top exits */
.serendipity_karmaVoting_exits_sep, .serendipity_karmaVoting br {
	display:none; }

/* container for comments plugin within sidebar */
.container_serendipity_plugin_comments {
	color:#333; }

/* style for line break in comments plugin */
.container_serendipity_plugin_comments br {
	line-height:0.5em; }

/* container for individual comment within sidebar */
.plugin_comment_wrap {
	display:block;
	margin:15px 0 0 0;
	border-top:1px solid #ddecfb;
	border-bottom:1px solid #ddecfb;
	background-color:#fafbfc;
	color:#505050; }

/* style for comment body within sidebar */
.plugin_comment_body {
	font-style:oblique; }

/********* End Plugin Styles *********/


/*** Additional plugin styles needed for the modernized output code ***/
/*** added by Matthias 'YellowLed' Mees                             ***/

.plainList {
    list-style: none;
    margin-left: 0;
    padding-left: 12px;
}

.container_serendipity_authors_plugin .serendipitySideBarContent div {
    margin: 5px 0;
    padding-left: 12px;
}

.serendipity_history_author { font-weight: bolder; }

.serendipity_history_intro,
.serendipity_history_info { margin-bottom: 3px; }

.serendipity_history_body { margin-bottom: 10px; }

.serendipity_recententries_entrylink { margin-bottom: 2px; }

.serendipity_recententries_entrydate { margin: 0 0 4px 0; }

.plugin_comment_body { padding: 3px 0; }

.serendipity_shoutbox_date { margin: 5px 0 2px 0; }

.serendipity_shoutbox_comment { padding: 3px 0; }

/*** End Additional plugin styles                                   ***/
